@font-face { 
  font-family: 'Arimo'; 
  src: url('./assets/fonts/Arimo-VariableFont_wght.ttf') format('truetype'),
       url('./assets/fonts/Arimo-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face { 
  font-family: 'Arimo-Italic'; 
  src: url('./assets/fonts/Arimo-Italic-VariableFont_wght.ttf') format('truetype'),
       url('./assets/fonts/Arimo-Italic.woff') format('woff');
  font-weight: normal;
  font-display: swap;
} 

#reel-description {
  font-family: 'Arimo';
  font-size: 16px;
}

.captions {
  font-family: 'Arimo';
  font-size: 16px;
}

.links {
  font-family: 'Arimo-Italic';
}

.header-img {
  float: left;
  background: url('./assets/logo/logo 2.gif') no-repeat center center;
  background-size: 385px;
  width: 385px;
  height: 160px;
}

.menu ul {
  list-style: none;
  margin: 4px;
  padding: 70px;
  text-align: center;
}
.menu li {
  display: inline-block;
  padding: 0 10px;
}
.menu a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.menu a:hover {
  text-decoration: underline;
}

.videosize {
   position:relative;
   padding-bottom:30.25%;
   padding-top:30px;
   height:0;
   overflow:hidden;
 }
 .videosize iframe, .videosize object, .videosize embed, .videosize video {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height: 100%;
   border: 0;
 }

