---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="about">
  <div
    class="relative max-w-screen-md flex flex-col gap-4 items-center justify-center text-center pt-28 mx-auto"
  >
    <p>
      Merav Epstein (she/her) is currently working as a Production Coordinator
      in Tiohtià:ke / Mooniyang (Montréal). Outside of her scope of work in the
      animation industry, she is a mixed-media self-proclaimed
      jack-of-all-trades; working as a Director, 2D Animator, Editor,
      Compositor, Storyboard Artist, Title Designer, and Color Correctionist in
      freelance and passion projects. In her free time, she knits and works on
      stained glass projects, and works on whatever other hobby she has most
      recently taken up.
    </p>
    <div class="aspect-video w-full">
      <iframe
        src="https://player.vimeo.com/video/1055049794?badge=0&autopause=0&player_id=0&app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
        class="w-full h-full"
        title="Demo Reel 2025"></iframe>
    </div><script src="https://player.vimeo.com/api/player.js"></script>
  </div>
</Layout>
