---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="about">
  <div
    class="relative max-w-screen-md flex items-center justify-center text-center md:pt-60 mx-auto"
  >
    <p>
      Merav Epstein (she/her) is currently working as a Production Coordinator
      in Tiohtià:ke / Mooniyang (Montréal). Outside of her scope of work in the
      animation industry, she is a mixed-media self-proclaimed
      jack-of-all-trades; working as a Director, 2D Animator, Editor,
      Compositor, Storyboard Artist, Title Designer, and Color Correctionist in
      freelance and passion projects. In her free time, she knits and works on
      stained glass projects, and works on whatever other hobby she has most
      recently taken up.
    </p>
  </div>
</Layout>
