---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="about">
  <div
    class="relative max-w-screen-md flex flex-col gap-4 items-center justify-center text-center pt-28 mx-auto px-4"
  >
    <p>
      Merav Epstein (she/her) is a multidisciplinary artist based in
      Tiohtià:ke/Montreal. She received a BFA in Film Animation from Concordia
      University in 2021, and has work experience in animation as a Production
      Coordinator at Sony Pictures Imageworks and DNEG Animation Studio, and has
      animated multiple freelance music videos for artists in Canada and the
      United States.
    </p>
    <p>
      <p>
        While her work experience is more animation-based, Merav's artistic
        practice centres upon stained glass and fibre arts (knitting, crochet,
        and needle felting), and their occasional intersection and interaction
        with animation. Merav’s professional background in the fast-paced and
        technological environments of animation have drawn her closer to the
        slowness, intentionality, and materiality required of fibre arts and
        stained glass as mediums. She is currently a recipient of the Museum of
        Jewish Montreal’s annual Microgrants Program. In February 2026, she
        hosted a painting-on-glass workshop through the Museum.
      </p>

      <div class="aspect-video w-full">
        <iframe
          src="https://player.vimeo.com/video/1055049794?badge=0&autopause=0&player_id=0&app_id=58479"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
          class="w-full h-full"
          title="Demo Reel 2025"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </p>
  </div>
</Layout>
