---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

let images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/sketchbook/*.png"
);

let resolvedImages = await Promise.all(
  Object.values(images).map((image) => image().then((mod) => mod.default))
);
---

<Layout pageTitle="sketchbook">
  <div
    class="abs mx-auto p-8 sm:columns-1 md:columns-2 lg:columns-3 max-sm:pt-24"
  >
    {
      resolvedImages.map((image) => (
        <Image
          src={image}
          alt={image.src.substring(
            image.src.lastIndexOf("/") + 2,
            image.src.indexOf(".png")
          )}
          quality={50}
          format="png"
          class="rounded-sm mb-4 border border-transparent hover:border-gray-300 transition-all duration-300 ease-in-out hover:shadow-lg"
          loading="lazy"
          data-character-prop-design-image
        />
      ))
    }
  </div>
</Layout>
