---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

let images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/stained:glass/*.png"
);

let stainedGlassImages = await Promise.all(
  Object.values(images).map((image) => image().then((mod) => mod.default))
);

stainedGlassImages.sort(
  (a, b) =>
    Number(a.src.slice(a.src.lastIndexOf("/") + 1, a.src.indexOf("."))) -
    Number(b.src.slice(b.src.lastIndexOf("/") + 1, b.src.indexOf(".")))
);

for (let a of stainedGlassImages) {
  //   console.log(
  //     Number(a.src.slice(a.src.lastIndexOf("/") + 1, a.src.indexOf(".")))
  //   );
  console.log(a.src);
}
---

<Layout pageTitle="stained glass">
  <div
    class="abs mx-auto p-8 grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 max-sm:pt-24"
  >
    {
      stainedGlassImages.map((image) => (
        <Image
          src={image}
          alt={"A stained glass project."}
          quality={50}
          format="png"
          class="rounded-sm mb-4 border border-transparent hover:border-gray-300 transition-all duration-300 ease-in-out hover:shadow-lg"
          loading="lazy"
          data-character-prop-design-image
        />
      ))
    }
  </div>
</Layout>
