---
import MeravGif from "../assets/logo.gif";
// pl-[178px]
---

<aside class="sticky top-0 h-full max-w-fit ml-4 text-center">
  <ul class="flex flex-col gap-1">
    <li class="list-none flex justify-center items-center">
      <a href="/"><img src={MeravGif.src} class="h-48 w-auto" /></a>
    </li>
    <li class="list-none text-xl">
      <a href="/animation/">ANIMATION</a>
    </li>
    <li class="list-none text-xl">
      <a href="/editing/">EDITING</a>
    </li>
    <li class="list-none text-xl">
      <a href="/storyboarding/">STORYBOARDING</a>
    </li>
    <li class="list-none text-xl">
      <a href="/character_prop_design/">CHARACTER/PROP DESIGN</a>
    </li>
    <li class="list-none text-xl">
      <a href="/paintings_backgrounds/">PAINTINGS & BACKGROUNDS</a>
    </li>
    <li class="list-none text-xl">
      <a href="/sketchbook/">SKETCHBOOK</a>
    </li>
    <li class="list-none text-xl">
      <a href="/stained_glass/">STAINED GLASS</a>
    </li>
    <br />
    <br />
    <li class="list-none text-xl">
      <a href="/about/">ABOUT</a>
    </li>
    <li class="list-none text-xl">
      <a href="/contact/">CONTACT</a>
    </li>
    <li class="list-none text-xl">
      <a href="/public/CV.pdf">CV</a>
    </li>
  </ul>
</aside>
